<div class="app-root-content container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked (click)="onSelect(0)">
                        <label class="custom-control-label" for="customRadioInline1">All</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" (click)="onSelect(1)">
                        <label class="custom-control-label" for="customRadioInline2">Completed</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input" (click)="onSelect(2)">
                        <label class="custom-control-label" for="customRadioInline3">Not completed</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    {{filters[currentFilter]}} tasks
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-2" *ngFor="let task of taskList; index as i">
                                <div class="custom-control custom-checkbox float-left">
                                    <input type="checkbox" class="custom-control-input" id="task_{{i}}"
                                           [checked]="task.completed" (click)="changeTaskState(task)">
                                    <label class="custom-control-label" for="task_{{i}}"
                                           [ngClass]="{'strikethrough' : task.completed}">{{task.title}}</label>
                                </div>
                                <button type="button" class="btn float-right"
                                        (click)="removeTask(task)">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="m-2 text-muted">
                                <span *ngIf="taskList.length > 0; else elseBlock">Amount of tasks:
                                    {{taskList.length}}</span>
                                <ng-template #elseBlock>
                                    <span>List is empty</span>
                                </ng-template>
                            </div>
                            <div class="clearfix"></div>

                            <form [formGroup]="form" (submit)="addTask()">
                                <div class="form-row">
                                    <div class="col-md-8">
                                        <label class="sr-only" for="inlineFormInput">Name</label>
                                        <input type="text" class="form-control" id="inlineFormInput"
                                               placeholder="Task description" formControlName="task" required>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-success">Add item</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
